:root{
    --fondo: #f9f7dc;
    --letra-principal:#095174;
    --letra-secundaria:#089BA3;
    --titulos: 'Open Sans', sans-serif;
}
*{
    margin:0px;
    
}
.header{
    background: rgb(180,58,58);
    background: linear-gradient(180deg, rgba(180,58,58,1) 0%, rgba(29,253,153,1) 29%, rgba(46,33,138,1) 99%);;
    width: 100%;
    height: 80px;
}
a {
    text-decoration: none;
    cursor: pointer;

}
a:hover{
    background: sandybrown ;
}

header nav{
    background-color: var(--fondo);
    display: flex;
    justify-content: center;
}
header nav .listamenu{
    width:200;
    height: auto;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    list-style:none;
    justify-content: stretch;
    justify-items: stretch
    
}

nav .listamenu a{
    margin-right: 100px;
    color:var(--letra-principal);
    font-size: 50px;
    font-family: 'Irish Grover', cursive;
}
nav .logo{
    position: grid;
    justify-self: start;
    justify-self: start;
    width: 150px;
    height: 80px;
}
.bienvenida{
    position: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: 'Irish Grover', cursive;
    background-color: var(--fondo);
    font-size: 50px;
    color: tomato;
    width: 100%;
    height: 100px;
}

div .modelo{
    width: 100%;
    height: 500px;
    position: grid;
    justify-content:stretch;
    background-color: var(--fondo);
}

.container{
    background-color: var(--fondo);
    display:grid;
    grid-template-columns: repeat(2,6fr);
    grid-template-rows: repeat(2,2fr);
    justify-content: stretch;
    justify-items: stretch;
    border: #095174;
    border-radius: 10px;
    color: var(--titulos);
    
}
.container:nth-of-type(2){
    align-self: start;
    justify-self: start;
    justify-content: stretch;
    justify-items: stretch;
    background: rgb(128,236,218);
    background: linear-gradient(180deg, rgba(128,236,218,1) 0%, rgba(29,253,153,1) 29%, rgba(46,33,138,1) 99%);
}


.complet{
    display: flexbox;
    justify-content: flex-end;
    padding: 10px;
    margin:10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
.modelo{
    border-radius: 20px;
    margin-top: 10px;
}
main section .datos input{
    width:500px;
    border-radius: 100px;
}
main section .datos input{
    width:500px;
    border-radius: 10px;
    border: solid;
    border: 3px;
    border-color: #095174;
    margin-bottom: 20px;
}
main section .pago input{
    width: 200px;
    border-radius: 10px;
    border: solid;
    border: 3px;
    border-color: #095174;
    margin-bottom: 20px;
}
.pago{
    width:100%;
    height: 100px;
    display:grid;
    justify-self: start;
    justify-self: start;
    background-color: crimson;
    border-radius: 10px;
    margin-top: 10px;
}
main section .descri textarea{
    border: solid;
    border: 6px;
    border-color: #095174;
    margin-bottom: 20px;
}

.descri{
    border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.saborpastel{
    font-family: 'Irish Grover', cursive;
    text-align: center;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(99,227,235,1) 98%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    margin-top: 10px;
}
.pasteltamaño{
    font-family: 'Irish Grover', cursive;
    text-align: center;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(99,227,235,1) 98%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    margin-top: 10px;
}
.adornos{ 
    font-family: 'Irish Grover', cursive;
    text-align: center;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(99,227,235,1) 98%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    margin-top: 10px;
}
.pago{
    font-family: 'Irish Grover', cursive;
    text-align: center;
    justify-content: center;
}
.datos{
    font-family: 'Irish Grover', cursive;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
}
.h2{
    color:var(--letra-secundaria);
    justify-content: center;
    justify-items: center;
    font-family: 'Irish Grover', cursive;
}
.h1{
    color:var(--letra-principal);
    justify-content: center;
    justify-items: center;
    font-family: 'Irish Grover', cursive;
}
.h3{
    font-family: 'Irish Grover', cursive;
    color: rgb(138, 122, 102);
    display: flex;
    text-align: center;
    margin-right: 100px;
}
.piepagina{
    font-family: var(--titulos);
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-items: start;
    background-color: rgba(46,33,138,1);
    color: rgb(222, 226, 197);
    font-size: larger;
}

.fin{
    font-family: var(--titulos);
    display:grid;
    justify-items: start;
    background-color: rgba(46,33,138,1);
    font-size: large;
    color: bisque;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    width:98%;
    border:1px solid;
    height: max-content;
    font-size: small;
    display:flex;
    justify-content: center;
    justify-items: center;
    margin:20px;
    margin-bottom: 0px;
    background-color: rgb(148, 179, 189);
    font:bold;
}
td ,tr{
    border:1px solid;
    color: black;
}
tr:first-of-type{
    background-color: rgba(5, 245, 253, 0.897);
    font: bolder;
}
.volverpasteleria{
    display: grid;
    justify-self: center;
    justify-self: center;
    font-family: 'Irish Grover', cursive;
    font-size: large;
    color: var(--titulos);
    margin:50px;
}
.pago2{
    margin:10px;
    color: var(--titulos);
    font-family: 'Irish Grover', cursive;
    background-color: none;
    font-size: larger;

}
.pay{
    display: grid;
    justify-self: center;
    justify-self: center;
    width: 80%;
    height: 100px;
    font-size: larger;
    background-color: crimson;
    border-radius: 30px;
    margin:50px;
}
.pay input{
    width: 100%;
    border: solid;
    border: 3px;
    border-color: #095174;
    margin-bottom: 20px;
}